jobs:
  # allow_failures:
    # - os: windows
    # - os: osx
  include:
    - name: windows
      os: windows
      language: bash
      filter_secrets: false
      install:
        - choco install dotnetcore-sdk --pre
        - dotnet --version
      script: 
        - dotnet restore -s https://api.nuget.org/v3/index.json
        - dotnet build
        - powershell -c "dotnet test /p:CollectCoverage=true /p:CoverletOutput=../../coverage.json /p:MergeWith=../../coverage.json /maxcpucount:1"
        - powershell -c "dotnet test ./test/Test.Base /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=../../coverage.xml /p:MergeWith=../../coverage.json /maxcpucount:1"
        - curl -s https://codecov.io/bash > codecov
        - chmod +x codecov
        - ./codecov -f "coverage.xml"
    # - name: osx
    #   os: osx
    #   language: bash
    #   install:
    #     - brew cask install dotnet-sdk
    #     - dotnet --version
    #   script: 
    #     - dotnet restore -s https://api.nuget.org/v3/index.json
    #     - dotnet build
    #     - dotnet test /p:CollectCoverage=true /p:CoverletOutput=../../coverage.json /p:MergeWith=../../coverage.json /maxcpucount:1
    #     - dotnet test ./test/Test.Base /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=../../coverage.xml /p:MergeWith=../../coverage.json /maxcpucount:1
    #     - curl -s https://codecov.io/bash > codecov
    #     - chmod +x codecov
    #     - ./codecov -f "coverage.xml"
    # - name: linux
    #   os: linux
    #   dist: xenial
    #   language: csharp
    #   mono: none
    #   sudo: required
    #   install:
    #     - wget -q https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb
    #     - sudo dpkg -i packages-microsoft-prod.deb
    #     - sudo apt-get install apt-transport-https
    #     - sudo apt-get update
    #     - sudo apt-get install dotnet-sdk-2.2
    #     - dotnet --version
    #   script:
    #     - dotnet build
    #     - dotnet test /p:CollectCoverage=true /p:CoverletOutput=../../coverage.json /p:MergeWith=../../coverage.json /maxcpucount:1
    #     - dotnet test ./test/Test.Base /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=../../coverage.xml /p:MergeWith=../../coverage.json /maxcpucount:1
    #     - curl -s https://codecov.io/bash > codecov
    #     - chmod +x codecov
    #     - ./codecov -f "coverage.json"